*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align:center;
    background-color: rgb(5, 5, 5);
    color:rgb(158, 126, 66);
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    
}
body{
    background-color: rgb(39, 83, 83);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#mais{
    background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      
        
}
#menos{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#zerar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
